/*@media (max-width: 480px) {*/
	body {
		min-width: 0 !important;
	}
	
	.mainheader {
		height: 60px !important;
		margin-bottom: 10px !important;
	}
	
	.mainlogo {
		height: auto !important;
	}
	
	.mainlogo > a > img {
		display: none;
	}
	
	.mainlogo .eeLogoText img {
		width: 200px;	
	}
	
	.eeLogoText {
		position: relative !important;
		top: 0 !important;
		left: 0 !important;
		width: auto !important;
	}
	
	.eeSiteText {
		margin-top: 5px !important;
		float: none !important;
		width: auto;
	}
	
	.eeSiteText .dropdown {
		right: auto !important;
		left: 5px;
	}
	
	/* Delphi-Tage */
	.mainheader > div[style] {
		display: none;
	}

	#Sidebar,
	.headerSearch,
	.mainmenu {
		display: none;
	}
	
	/* =================================== Index =================================== */
	
	table.forumline th {
		display: none;
		height: auto !important;
		padding: 7px 0 !important;
	}
	
	table.forumline th:first-child {
		display: block;
		width: 100%;
	}
	
	table.forumline td {
		display: block;
		padding: 0px !important;
		width: auto;
		height: auto;
	}
	
	table.forumline td[height="28"] {
		padding: 8px 3px !important;
	}
	
	/* forum icon */
	table.forumline td:first-child[align=center] {
		float: left;
		width: 35px;
		padding: 5px 0 !important;
	}
	
	table.forumline td.statistical {
		display: none;
	}
	
	/* title & description */
	table.forumline td:nth-child(2) {
		padding-left: 45px !important;
		padding-top: 5px !important;
	}
	
	/* last post */
	table.forumline td.borderleft[align=center][valign=middle]:last-child,
	table.forumline td[id^="lastreply"] {
		text-align: left !important;
		padding-left: 45px !important;
		padding-bottom: 5px !important;
	}
	
	table.forumline td.borderleft[align=center][valign=middle]:last-child a.gensmall:first-child:before,
	table.forumline td[id^="lastreply"] > span:first-child:before {
		display: inline;
		content: 'Letzter Beitrag:';
		padding-right: 0.5em;
		color: black;
		text-align: none !important;
	}
	
	table.forumline td.borderleft[align=center][valign=middle]:last-child br,
	table.forumline td[id^="lastreply"] br {
		display: none;
	}
	
	table.forumline td.borderleft[align=center][valign=middle]:last-child a,
	table.forumline td[id^="lastreply"] a {
		margin-right: 5px;
	}
	
	/* =================================== Forum =================================== */
	
	/* topic icon */
	table.forumline td:first-child[align=center][valign=top] {
		width: 15px;
		padding: 5px !important;
	}
	
	table.forumline td:first-child[align=center][valign=top] + td,
	table.forumline td[id^="lastreply"] {
		padding-left: 30px !important;
	}
	
	table.forumline .topictitle + .gensmall br {
		display: none;
	}
	
	table.forumline .topictitle {
		margin-right: 5px;
	}
	
	table.forumline th .statistical {
		display: none;
	}
	
	/* Hits */	
	table.forumline td .statistical {
		font-size: 0;
		padding: 0 !important;
	}
	
	/* Antworten */
	table.forumline td .statistical span:first-child {
		font-size: 10px;
	}
	
	table.forumline td .statistical span:first-child:after {
		content: 'Antw.';
		padding-left: 2px;
	}
	
	table.forumline td.row3 {
		float: none !important;
		width: auto !important;
	}
/*}*/
